@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0px;
    font-family: Roboto;
}

header {
    height: 8vh;
    font-size: 24px;
    font-family: monospace;
    padding: 20px;
}

.footer {
    display: block;
    margin: 20px;
    text-align: center;
}

.container {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    padding:10px;
    border-radius: 10px;
    background-color: grey;
    text-align: center;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out;
}

.active {
    display: grid;
    transform: translate(-50%, -50%) scale(1);
}

.input, .container button {
    width: 300px;
    margin-bottom: 20px;
}


#container {
    background-color: darkgrey;
    padding: 20px;
    position: relative;
    min-height: 77vh;
    backdrop-filter: blur(10px)
}

.button-container {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;;
}

.shelf {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 200px;
    gap: 20px;
}

.book {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
    border-radius: 15px;;
    transition: all 1s;
}

.book:hover {
    transform: scale(1.05);
}

.title {
    font-weight: bold;
}

.remove {
    opacity: 0;
    transition: all 1s;
    width: 10%;
    background: none;
    border: 0.5px solid black;
    border-radius: 5px;
    margin-left: 90%
}

.book:hover .remove {
    opacity: 1;
}

.remove:hover {
    transform: scale(1.2);
    background-color: pink;
}

.new-book-btn {
    background: none;
    transition: all 0.5s;
    border-radius: 10px;
}

.new-book-btn:hover {
    transform: scale(1.05)
}

.blur {
    position: absolute;
    width: 100vh;
    height: 100vh;
    filter: blur(10px);

    position: absolute; 
    left: 0; 
    right: 0; 
    text-align: center;
    border-radius: 10px;
    filter: none;
    transition: all 1s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

